.container-fluid{
    background-color: #f6f6f6;
}
.page-content{
    
    padding: 72px 0;
    width: 1104px;
    margin: 0 auto;
}

.wrapper{
    width: 402px;
    background-color: #fff;
    padding: 32px;
    box-shadow: 1px 2px 4px #666;
}
.wrapper h5{
	font-size:24px;
	text-align:center;
	padding-bottom:32px;
	margin-bottom:0;
}
.wrapper .btn{
    width: 100%;
    font-size: 18px;
    color: #fff;
    background-color: #243a6e;
    border-radius: 3px;
}
.wrapper .form-control{
    font-size: 16px;
}
.sub-info{
    margin-top: 32px;
    border-top: 1px solid #ccc;
    padding-top: 16px;
}
.sub-info .nav-link{
    display: inline-block;
    padding: 0 5px;
    color: #243a6e;
    font-weight: 500;
}
.sub-info p{
    font-size: 18px;
    color: #666;
}
/* Left side */
.text{
    text-align: center;
    margin-bottom: 15px;
}
.text h3{
    color: #243a6e;
}
.text p{
    font-size: 20px;
}
.img{
    margin-top: 48px;  
    text-align: center;
}
.img img{
    width: 250px;
    height: auto;
    position: relative;
}

#register{
    display: none;
}
